root = true

[*.{cpp,h,hpp,c,cc,cxx,inl,ipp}]
charset = utf-8-bom
end_of_line = crlf
indent_style = tab
tab_width = 4
insert_final_newline = true

[*.{rc,rc2}]
charset = utf-16le
end_of_line = crlf

[*.md]
charset = utf-8
end_of_line = crlf